* {
  font-family: "Montserrat", sans-serif;
}
.wrapper {
  .item {
    width: fit-content;
    & > :not(:last-child) {
      margin-right: 15px;
    }
    & > button {
      width: 50px;
    }
  }

  ul {
    &.hidden {
      display: none;
    }
  }

  .element {
    display: flex;
    border-bottom: 1px solid grey;
    width: fit-content;
    padding: 10px;
    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  
  button {
    width: 25px;
    height: 25px;
    margin: auto 0;
    margin-left: 25px;
  }
}
